:root{
    --h1Size: 50px;
    --grayNav:rgb(194,203,210); 
    --MainColor: #001837;
    --SecondColor: #3aabe0;
    
    /* rgb(216, 182, 111); */
    /* rgb(224,165,58); */
    /* rgb(1,44,109); */
}